@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-geist: "Geist", sans-serif;
}

body {
    color: #a3bbfb;
    background-color: #1f2937;
}